<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ALERTYFY JS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    </head>
    <body>
        
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script>
            alertify.set('notifier','position', 'top-right');
        </script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                        {% if message.tags == "success" %}
                            <script>alertify.success("{{ message }}");</script>
                        {% elif message.tags == "error" %}
                            <script>alertify.error("{{ message }}");</script>
                        {% elif message.tags == "warning" %}
                            <script>alertify.warning("{{ message }}");</script>
                        {% elif message.tags == "info" %}
                            <script>alertify.message("{{ message }}");</script>
                        {% else %}
                            <script>alertify.message("{{ message }}");</script> 
                            <!-- Default si no hay etiqueta -->
                        {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </body>
</html>