{% load static %}
<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <a href="{% url 'home' %}"><img src="{% static 'images/logo-icon.png' %}" class="logo-icon" alt="logo icon"></a>
        </div>
        <div>
            <h4 class="logo-text">CMM</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        {% if perfil %}
            <li>
                <a href="{% url 'home' %}">
                    <div class="parent-icon"><i class='fas fa-chart-line'></i></div>
                    <div class="menu-title">Dashboard</div>
                </a>
            </li>
            {% if perfil.cargo.cargo != 'Operario' %}
            <li>
                <a href="{% url 'activos' %}">
                    <div class="parent-icon"><i class="fab fa-pushed"></i>
                    </div>
                    <div class="menu-title">Activos</div>
                </a>
            </li>
            {% endif %}
            {% if perfil.cargo.cargo == "Administrador" %}
            <li>
                <a href="{% url 'historial' %}">
                    <div class="parent-icon"><i class="fa-solid fa-book"></i>
                    </div>
                    <div class="menu-title">Historial</div>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'incidencias' %}">
                    <div class="parent-icon"> <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <div class="menu-title">Incidencia</div>
                </a>
            </li>

            <li>
                <a href="{% url 'orden_trabajo' %}">
                    <div class="parent-icon"><i class="fas fa-briefcase"></i>
                    </div>
                    <div class="menu-title">Ordenes de trabajos</div>
                </a>
            </li>
            {% if perfil.cargo.cargo != 'Tecnico' %}
            <li>
                <a href="#" class="has-arrow">
                    <div class="parent-icon"><i class="fas fa-columns"></i>
                    </div>
                    <div class="menu-title">Plan de trabajo</div>
                </a>
                <ul>
                    <li> <a href="{% url 'plan_gestion' 'Preventivo' %}"><i class="bx bx-right-arrow-alt"></i>Gestión
                            Preventiva</a> </li>
                    <li> <a href="{% url 'plan_gestion' 'Predictivo'%}"><i class="bx bx-right-arrow-alt"></i>Gestión
                            Predictiva</a> </li>
                    <li> <a href="{% url 'plan_gestion' 'Correctivo'%}"><i class="bx bx-right-arrow-alt"></i>Gestión
                            Correctivo</a> </li>
                    <li> <a href="{% url 'plan_gestion' 'Inspeccion'%}"><i class="bx bx-right-arrow-alt"></i>Gestión
                            Inspección</a> </li>
                </ul>
            </li>
            {% endif %}
        {% else %}
            <li>
                <i class="bx bx-info-circle" style="font-size: 20px; color: #ff9800;"></i>
                    Actualmente no hay un Rol asignado al perfil del usuario ingresado.
            </li>
        {% endif %}
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->