{% load static %}
<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">CMM</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'home' %}">
                <div class="parent-icon"><i class='fas fa-chart-line'></i></div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="parent-icon"><i class="fas fa-truck-loading"></i>
                </div>
                <div class="menu-title">Activos</div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="parent-icon"><i class="fas fa-shopping-cart"></i>
                </div>
                <div class="menu-title">Historial</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="parent-icon"> <i class="fas fa-exchange-alt"></i>
                </div>
                <div class="menu-title">Incidencia</div>
            </a>
        </li>
        <li>
            <a href="{% url 'orden_trabajo' %}">
                <div class="parent-icon"><i class='fas fa-cash-register'></i>
                </div>
                <div class="menu-title">Ordenes de trabajos</div>
            </a>
        </li>
        <li>
            <a href="#" class="has-arrow">
                <div class="parent-icon"><i class="fas fa-wallet"></i>
                </div>
                <div class="menu-title">Plan de trabajo</div>
            </a>
            <ul>
                <li> <a href="{% url 'plan_gestion' %}"><i class="bx bx-right-arrow-alt"></i>Gestión Preventiva</a> </li>
                <li> <a href="{% url 'plan_gestion' %}"><i class="bx bx-right-arrow-alt"></i>Gestión Predictiva</a> </li>
            </ul>
        </li>
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->