{% load static %}
<!--start header -->
<header>
    <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
            <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
            </div>
            <div class="search-bar flex-grow-1">
                <div class="position-relative search-bar-box">
                    <input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
                    <span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
                </div>
            </div>
            <div class="top-menu ms-auto">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item mobile-search-icon">
                        <a class="nav-link" href="#">	<i class='bx bx-search'></i>
                        </a>
                    </li>                  
                    <li class="nav-item dropdown dropdown-large">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="notificaciones-count" class="alert-count notificacion"
                                style="display:
                                {% if notificaciones|length > 0 %}
                                    inline-block
                                {% else %}
                                    none
                                {% endif %};">
                                {{ notificaciones|length }}
                            </span>
                            <i class='bx bx-comment'></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="msg-header">
                                <p class="msg-header-title">Notificaciones Encuestas</p>
                            </div>

                            <div class="header-notifications-list">
                                {% for notificacion in notificaciones %}
                                    <a class="dropdown-item d-flex align-items-center py-2" href="#" data-bs-toggle ="modal" data-bs-target="#modalFacturaCompra" 
                                        data-url="{% url 'agregar_encuesta' notificacion.orden_trabajo %}">
                                        <div class="notify d-flex align-items-center justify-content-center notify bg-light-warning text-warning">
                                            <i class="bx bx-bell"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="msg-title mb-0 fw-semibold text-dark" >
                                                {{ notificacion.mensaje }}
                                            </h6>
                                            <small class="text-muted">{{ notificacion.fecha_creacion|timesince }}</small>
                                        </div>
                                    </a>
                                {% empty %}
                                    <p class="text-center text-muted">No hay nuevas notificaciones</p>
                                {% endfor %}
                            </div>              
            
                            <a href="#">
                                <div class="text-center msg-footer">Todas las Encuestas</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-box dropdown">
                <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/avatars/avatar-2.png' %}" class="user-img" alt="user avatar">
                    <div class="user-info ps-3">
                        <p class="user-name mb-0"> {{perfil.full_name}} </p>
                        <p class="designattion mb-0">{{perfil.cargo}}</p>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bx bx-user"></i><span>Profile</span></a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'home' %}"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <div class="dropdown-divider mb-0"></div>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class='bx bx-log-out-circle'></i><span>Cerrar sesión</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--end header -->

{% block content %}
	<div class="modal fade" id="modalEncuesta" tabindex="-1" aria-labelledby="modalEncuestaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-top border-0 border-4 border-info">
                <div class="modal-header">
                    <h5 class="modal-title text-info">Registrar Encuesta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="modalEncuestaBody">
                    <!-- formulario vía AJAX -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Volver</button>
                    <button type="submit" id="submitAdd" class="btn btn-info">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}