{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--start page wrapper -->
<div class="page-wrapper">
  <div class="page-content">

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div class="card radius-10 bg-gradient-deepblue">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 text-white" id="valor_operarios">...</h5>
              <div class="ms-auto">
                <i class='fas fa-chalkboard-teacher fs-3 text-white'></i>
              </div>
            </div>
            <!-- <div class="progress my-2 bg-white-transparent" style="height:4px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 55%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="d-flex align-items-center text-white">
              <p class="mb-0">Operarios Activos</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10 bg-gradient-ohhappiness">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 text-white" id="valor_activos">...</h5>
              <div class="ms-auto">
                <i class='fab fa-pushed fs-3 text-white'></i>
              </div>
            </div>
            <!-- <div class="progress my-2 bg-white-transparent" style="height:4px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 55%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="d-flex align-items-center text-white">
              <p class="mb-0">Activos Operativos</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10 bg-gradient-ibiza">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 text-white" id="valor_incidencias">...</h5>
              <div class="ms-auto">
                <i class='fas fa-exclamation-circle fs-3 text-white'></i>
              </div>
            </div>
            <!-- <div class="progress my-2 bg-white-transparent" style="height:4px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 55%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="d-flex align-items-center text-white">
              <p class="mb-0">Índice Incidencias</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10 bg-gradient-moonlit">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <h5 class="mb-0 text-white" id="valor_ot">...</h5>
              <div class="ms-auto">
                <i class='fas fa-briefcase fs-3 text-white'></i>
              </div>
            </div>
            <!-- <div class="progress my-2 bg-white-transparent" style="height:4px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 55%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
            <div class="d-flex align-items-center text-white">
              <p class="mb-0">Órdenes de Trabajo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-2">
      <!--OT por Tecnico-->
      <div class="col d-flex">
        <div class="card radius-10 w-100">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div>
                <h5 class="mb-0">OT por Técnicos</h5>
              </div>
              <div class="dropdown options ms-auto">
                <div class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                  <i class='bx bx-dots-horizontal-rounded'></i>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'orden_trabajo' %}">Ordenes Trabajo</a></li>
                  <li><a class="dropdown-item" href="{% url 'historial' %}">Historial</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-js-container3">
              <canvas id="chart7"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!--Planes de Gestión-->
      <div class="col d-flex">
        <div class="card radius-10 w-100 overflow-hidden">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div>
                <h5 class="mb-0">Planes de Gestión</h5>
              </div>
              <div class="dropdown options ms-auto">
                <div class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                  <i class='bx bx-dots-horizontal-rounded'></i>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'plan_gestion' 'Preventivo' %}">Planes</a></li>
                  <li><a class="dropdown-item" href="{% url 'historial' %}">Historial</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-js-container2">
              <canvas id="chart8"></canvas>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center border-top">
              Gestión Preventiva
              <span class="badge bg-primary rounded-pill" id="preventivo">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Gestión Predictiva
              <span class="badge bg-success rounded-pill" id="predictivo">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Gestión Correctiva
              <span class="badge bg-danger rounded-pill" id="correctivo">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Gestión Inspección
              <span class="badge bg-danger rounded-pill" id="inspeccion">0</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end row-->

  </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
{% endblock %}

{% block script %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}