{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Ordenes de Trabajo</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bx bx-home-alt text-info"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consulta de OT</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <h6 class="mb-0 text-uppercase">Lista de Ordenes de Trabajo</h6>
            <hr />

            <!-- Botón de agregar -->
            <div class="mb-3">
                <a href="{% url 'agregar_orden_trabajo' %}" class="btn btn-success">
                    <i class="bx bx-plus"></i> Agregar OT
                </a>
                {% if filtro == 'activos' %}
                    <a href="?filtro=all" class="btn btn-outline-secondary">
                        Mostrar Todo
                    </a>
                {% else %}
                    <a href="?filtro=activos" class="btn btn-outline-info">
                        Ocultar Ordenes Cerradas/Bloqueadas
                    </a>
                {% endif %}
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Activo</th>
                                    <th>Usuario</th>
                                    <th>Plan</th>
                                    <th>Descripcion Falla</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Tiempo intervencion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if ordenes  %}
                                    {% for ot in ordenes %}
                                    <tr>
                                        <td>{{ ot.codigo }}</td>
                                        <td>{{ ot.activo }}</td>
                                        <td>{{ ot.usuario }}</td>
                                        <td>{{ ot.plan }}</td>
                                        <td>{{ ot.descripcion_falla }}</td>
                                        <td>{{ ot.fecha_inicio }}</td>
                                        <td>{{ ot.fecha_fin }}</td>
                                        <td>{{ ot.tiempo_intervencion }}</td>
                                        <td>
                                            <span class="estado {{ ot.OT_estado|lower }}">
                                                {{ ot.OT_estado }}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'editar_orden_trabajo' ot.id %}" class="btn btn-sm btn-info">
                                                <i class="bx bx-edit"></i>
                                            </a>                                           
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="12" class="text-center text-muted">
                                            <i class="bx bx-info-circle" style="font-size: 20px; color: #ff9800;"></i> 
                                            Actualmente no hay Ordenes de trabajos generadas.
                                        </td>
                                    </tr>
                                {% endif %}    
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Activo</th>
                                    <th>Usuario</th>
                                    <th>Plan</th>
                                    <th>Descripcion Falla</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Tiempo intervencion</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> 
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button--> 
{% endblock %}

